@using Newtonsoft.Json
@model IEnumerable<ProvinceRecord>
@{
    var provinces = ViewData["Provinces"];
}
<div id="map"  style="width: 100px" data-value="@ViewBag.Provinces">
</div>
 <div id="video">
        <iframe width="420" height="315"
            src="https://youtube.com/embed/2KWKAAzmWZQ?autoplay=1&mute=1&loop=1">
        </iframe>
    </div>
<div id="uytable-field">
    <table class="table table-striped table-bordered hover" id="uytable">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Khu vực</th>
                <th scope="col">Ca Nhiễm</th>
                <th scope="col">Điều Trị</th>
                <th scope="col">Đã Khỏi</th>
                <th scope="col">Tử Vong</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Province</th>
                    <td>@item.Infected</td>
                    <td>@item.Active</td>
                    <td>@item.Recovered</td>
                    <td>@item.Deaths</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>

    $(document).ready(function() {
        $('#uytable').DataTable({
            "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Vietnamese.json"
                        }

        });
    } );





    var simplemaps_countrymap_mapdata = {
        main_settings: {
            //General settings
            width: "300", //or 'responsive'
            background_color: "#FFFFFF",
            background_transparent: "yes",
            border_color: "#ffffff",
            pop_ups: "detect",

            //State defaults
            state_description: "State description",
            state_color: "#88A4BC",
            state_hover_color: "#3B729F",
            state_url: "",
            border_size: 1.5,
            all_states_inactive: "no",
            all_states_zoomable: "yes",

            //Location defaults
            location_description: "Location description",
            location_url: "",
            location_color: "#FF0067",
            location_opacity: 0.8,
            location_hover_opacity: 1,
            location_size: 25,
            location_type: "square",
            location_image_source: "frog.png",
            location_border_color: "#FFFFFF",
            location_border: 2,
            location_hover_border: 2.5,
            all_locations_inactive: "no",
            all_locations_hidden: "no",

            //Label defaults
            label_color: "#d5ddec",
            label_hover_color: "#d5ddec",
            label_size: 22,
            label_font: "Arial",
            hide_labels: "no",
            hide_eastern_labels: "no",

            //Zoom settings
            zoom: "yes",
            manual_zoom: "yes",
            back_image: "no",
            initial_back: "no",
            initial_zoom: "-1",
            initial_zoom_solo: "no",
            region_opacity: 1,
            region_hover_opacity: 0.6,
            zoom_out_incrementally: "yes",
            zoom_percentage: 0.99,
            zoom_time: 0.5,

            //Popup settings
            popup_color: "white",
            popup_opacity: 0.9,
            popup_shadow: 1,
            popup_corners: 5,
            popup_font: "12px/1.5 Verdana, Arial, Helvetica, sans-serif",
            popup_nocss: "no",

            //Advanced settings
            div: "map",
            auto_load: "yes",
            url_new_tab: "no",
            images_directory: "default",
            fade_time: 0.1,
            link_text: "View Website"
        },
        state_specific: {
            VNM429: {
                name: "Quang Ninh",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM444: {
                name: "Tay Ninh",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM450: {
                name: "Đien Bien",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM451: {
                name: "Đong Bac",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM452: {
                name: "Thai Nguyen",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM453: {
                name: "Lai Chau",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM454: {
                name: "Lang Son",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM455: {
                name: "Son La",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM456: {
                name: "Thanh Hoa",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM457: {
                name: "Tuyen Quang",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM458: {
                name: "Yen Bai",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM459: {
                name: "Hoa Binh",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM460: {
                name: "Hai Duong",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM4600: {
                name: "Hai Phong",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM461: {
                name: "Dong Bang Song Hong",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM462: {
                name: "Ha Noi",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM463: {
                name: "Bac Ninh",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM464: {
                name: "Vinh Phuc",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM466: {
                name: "Ninh Binh",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM467: {
                name: "Ha Nam",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM468: {
                name: "Nam Dinh",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM469: {
                name: "Phu Tho",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM470: {
                name: "Bac Giang",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM471: {
                name: "Thai Binh",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM474: {
                name: "Ha Tinh",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM475: {
                name: "Nghe An",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM476: {
                name: "Quang Binh",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM477: {
                name: "Dak Lak",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM478: {
                name: "Gia Lai",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM479: {
                name: "Khanh Hoa",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM480: {
                name: "Lam Dong",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM481: {
                name: "Ninh Thuan",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM482: {
                name: "Phu Yen",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM483: {
                name: "Binh Dương",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM4834: {
                name: "Tien Giang",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM4835: {
                name: "Dak Nong",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM484: {
                name: "Binh Phuoc",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM485: {
                name: "Binh Dịnh",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM486: {
                name: "Kon Tum",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM487: {
                name: "Quang Nam",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM488: {
                name: "Quang Ngai",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM489: {
                name: "Quang Tri",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM490: {
                name: "Thua Thien - Hue",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM491: {
                name: "Da Nang",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM495: {
                name: "Ba Ria - Vung Tau",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM496: {
                name: "Binh Thuan",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM497: {
                name: "Dong Nam Bo",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM498: {
                name: "An Giang",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM499: {
                name: "Can Tho",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM500: {
                name: "Dong Thap",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM501: {
                name: "Ho Chi Minh",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM502: {
                name: "Kien Giang",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM503: {
                name: "Long An",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM504: {
                name: "Ben Tre",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM505: {
                name: "Hau Giang",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM506: {
                name: "Bac Lieu",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM507: {
                name: "Ca Mau",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM508: {
                name: "Soc Trang",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM509: {
                name: "Tra Vinh",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM510: {
                name: "Vinh Long",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM511: {
                name: "Cao Bang",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM512: {
                name: "Ha Giang",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            },
            VNM5483: {
                name: "Lao Cai",
                description: "default",
                color: "default",
                hover_color: "default",
                url: "default"
            }
        },
        locations: {
            "0": {
                lat: "21.028167",
                lng: "105.854152",
                name: "Hanoi"
            }
        }
    };

    var provinces = @Html.Raw(JsonConvert.SerializeObject(ViewData["Provinces"]));

    var maxInfected = 0;
    for (var provi in provinces) {
        if (provinces[provi].Infected > maxInfected) {
            maxInfected = provinces[provi].Infected;
        }
    }

    for (var prov in simplemaps_countrymap_mapdata.state_specific) {
        var infected;
        for (var p in provinces) {
            if (provinces[p].Province === simplemaps_countrymap_mapdata.state_specific[prov].name) {
                infected = provinces[p].Infected;
            }
        }
        var color = infected * 255 / maxInfected * 50;
        if (color < 100) {
            simplemaps_countrymap_mapdata.state_specific[prov].color = "rgb(200,200,200)";
        } else {
            simplemaps_countrymap_mapdata.state_specific[prov].color = "rgb(" + color + ",0,0)";
        }
        simplemaps_countrymap_mapdata.state_specific[prov].description = "Infected: " + infected;

    }



</script>
<script type="text/javascript" src="http://localhost:5000/js/countrymap.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>